# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~
.depend
*.exe
*.bak
SWIGTYPE_p_std__string.cs
SWIGTYPE_p_bool.cs
SWIGTYPE_p_int.cs
camera
Config.json
Ping
Quit
Version
RTSPGetClientCount
RTSPGetMaxBacklog
RTSPGetMaxClients
RTSPSetMaxBacklog
RTSPSetMaxClients
RTSPGetPort
RTSPSetPort
VideoStreamGetEnabled
VideoStreamSetEnabled
build
WebUI.userprefs
bin
obj
CameraServerFunctions.i
