# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~
.depend
*.exe
*.bak

#Ignore certain visual studio files
*.suo
*.mdb
*.user

#Ignore autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
m4/
.deps
.libs
Config.json
CameraServerFunctions.i
src/camera
sessions.db
www/node_modules
