CameraClientWrapper.py
CameraClientWrapper.pyc
CameraClientWrapperPINVOKE.cs
libCameraClientWrapper
CameraClient.cs
CameraClientWrapper.cs
CameraClient.dll
libcameraclient_csharp.cpp
libcameraclient_python.cpp

