extend layout
block content
	.login
		form(name="login", method="post")
			div.input
				div.label Username
				input(type="text", name="username")
			div.input
				div.label Password
				input(type="password", name="password")
			div.input
				div.label
				input(type="submit", value="Login")
			if failed == true
				div Login failed

