<?xml version="1.0"?>
<!--
Web.config file for WebUI.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>

    <customErrors mode="Off">
    </customErrors>

    <authentication mode="Forms">
      <forms name="Camera" loginUrl="/Login.aspx" slidingExpiration="true" timeout="1440">
      </forms>
    </authentication>

    <membership defaultProvider="CameraMemberShipProvider">
      <providers>
        <clear/>
        <add name="CameraMemberShipProvider" connectionStringName="" enablePasswordRetrival="false" enablePasswordReset="true"
		requiresQuestionAndAnswer="false" applicationName="Camera" requiresUniqueEMail="false"
		passwordFormat="Hashed" type="WebUI.Code.Providers.CameraMemberShipProvider" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="CameraRoleProvider">
      <providers>
        <clear/>
        <add name="CameraRoleProvider" connectionStringName="" applicationName="" type="WebUI.Code.Providers.CameraRoleProvider" />
      </providers>
    </roleManager>

    <authorization>
      <allow users="*" />
    </authorization>

    <httpHandlers>
    </httpHandlers>

    <!--<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />-->

    <sessionState mode="InProc" cookieless="false" timeout="20" />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

    <pages theme="Default">
      <controls>
        <add tagPrefix="custom" namespace="WebUI.Code.WebControls" assembly="WebUI.Code"/>
      </controls>
    </pages>
  </system.web>

</configuration>


